body{
        width: 100%;
        padding: 0px;
        margin: 0px;
        height: 100%;
}
.home-container {
   
    color: white;
    background-color: black;
    padding: 25px;
}
.nav-top {
    background-color: #444343;
}
.navhome {
    background-color: #444343;
    justify-content: space-around;
    display: flex;
}
.container-double {
    display: flex;
    padding: 50px;
}
.container-fluid-content {
    padding: 50px;
}
.container-text-font {
    justify-content: space-between;
    display: flex;
}
.container-text-font h3 {
    font-weight: 500;
    font-size: 20px;
    color: #b9b3b3;
}
.container-fluid-content p {
    color: #b9b3b3;
    font-weight: 500;
    font-size: 23px;
}
.container-technical h2 {
    font-weight: 600;
    font-size: 23px;
    margin-top: 42px;
}
.container-technical h1 {
    margin-top: -57px;
    border-radius: 7px;
    padding: 16px;
    font-family: math;
    font-size: 23px;
    font-weight: 500;
    background-color: #d30e0e;
    width: 33%;
}

span.light {
    font-weight: 500;
    color: #5a5858;
    margin: 22px;
    font-size: 22px;
}
.border-lenght {
    margin-top: -18px;
    border-bottom: 1px solid;
    width: 83px;
}
.border-lenght1 {
    margin-top: -18px;
    border-bottom: 1px solid;
    width: 135px;
}
ul.list li {
    color: #a5a1a1;
    font-size: 21px;
    margin-top: 22px;
}
.container-technical h3 {
    color: #7a7878;
    font-weight: 500;
    font-size: 18px;
}

ul.list1 li {
    margin-top: 9px;
    color: #aba8a8;
    font-size: 17px;
}
.container-technical {
    width: 50%;
}
.first-div h1 {
    border-radius: 6px;
    width: 201px;
    padding: 8px;
    background-color: green;
    font-size: 27px;
}

.left-container {
    width: 50%;
    margin-top: -51px;
}

.left-container h3 {
    font-weight: 500;
    font-size: 21px;
    text-decoration: underline;
    margin-bottom: -18px;
}
.left-container h4 {
    margin-bottom: -17px;
    font-weight: 500;
    font-size: 19px;
    color: #747171;
}
ul.list2 li {
    margin-bottom: 5px;
    color: #aba8a8;
}
.second-div h1 {
    border-radius: 6px;
    width: 201px;
    padding: 8px;
    background-color: blue;
    font-size: 27px;

}
.border-side h2 {
    border-bottom-left-radius: 113px;
    padding: 14px;
    color: black;
    border: 1px solid;
    font-family: serif;
    font-size: 17px;
    background-color: white;
    border-bottom-right-radius: 106px;
    height: 48px;
    text-align: center;
}
.box {
    
    display: flex;
}
.box h5 {
    margin: 0px;
    border: 1px solid;
    padding: 1px 19px;
    border-radius: 7px;
}
.one-row {
    display: flex;
}

.first-div h5 {
    border-radius: 4px;
    padding: 8px;
    width: 14%;
    border: 1px solid #726f6f;
    margin-left: 11px;
}
.two-row {

    display: flex;
}
.one-row h5 {
    text-align: center;
    border-radius: 8px;
    width: 20%;
    padding: 13px 3px;
    margin-left: 14px;
    border: 1px solid #6a6767;
    margin-bottom: -8px;
}
.second-div h4 {
    margin-left: 15px;
    text-align: center;
    margin-bottom: 8px;
    border-radius: 6px;
    padding: 11px 3px;
    width: 26%;
    border: 1px solid #706f6d;
    color: white;
}

.two-row h5 {
    text-align: center;
    border-radius: 8px;
    padding: 6px 26px;
    border: 1px solid #726f6f;
    margin-left: 11px;
    font-size: 14px;
    margin-bottom: -6px;
}

@media (max-width:600px){
    .two-row h5 {
        margin-left: 0px;
    
    }
    .second-div h4 {
        margin-left: 0px;
        width: 100%;
       
    }
    .two-row h5 {
        width: 100%;
        margin-left: 0px; 
    }
    .one-row h5 {
        margin-left: 0px;
        width: 100%;
    }
    .first-div h5 {
        width: 100%;
        margin-left: 0px;
    }
    .container-technical h1 {
        width:  100%;
    }
    .one-row {
        display: initial;
    }
    
    .first-div h1 {
      
        width: 100%;
        font-size: 14px;
    }
    .first-div h5 {
        width: 100%;
    }
    .second-div h1 {
        width: 100%;
        font-size: 14px;
    
    }
    
    .left-container {
        max-width: 100%;
    }
    .container-technical {
       max-width: 100%;
    }
    .biodata {
        width: 100%;
    }
    .engineer-box {
        padding: 0px;
      
    }
    .container-double {
        display: initial;
    }

.two-row h5 {
   margin-left: 0px;
}
.two-row {
    display: initial;
}
.left-container h2 {
    margin-top: 79px;
}
.navhome {
     justify-content: initial;
    display: initial;
}
.border-side h2 {
    padding: 2px;
    font-size: 13px;
}
}